{% extends "base.html" %}
{% block contents %}



<br><br><br>
<h2>&nbsp;&nbsp; Particulate Matter Sensor ({{model}})</h2>
<br>

<style>
	#graphdiv .dygraph-legend { background-color: gray; }
</style>

<div id="graphdiv" class="col-12 text-center" style="width:95%; height:500px;"></div>

<script src="/static/jquery.min.js"  ></script> 
<script type="text/javascript">
	var count = 0;
	var data1 = [];

	var g = new Dygraph(document.getElementById("graphdiv"), data1,
              {
                legend: 'always',
                title: 'Particles',
                ylabel: '{{ylabel}}',
				xlabel: 'Time',
				drawPoints: true,
                showRoller: true,
                rollPeriod: 1,
                showRoller: false,
                rangeSelectorPlotStrokeColor: 'yellow',
                rangeSelectorPlotFillColor: 'lightyellow',
                animatedZooms: true,
                rangeSelectorPlotFillColor: 'MediumSlateBlue',
                rangeSelectorPlotFillGradientColor: 'rgba(123, 104, 238, 0)',   
                colorValue: 1.0,
                fillAlpha: 0.4,

                labels: ['Time', 'PM1.0', 'PM2.5', 'PM4.0', 'PM10']
              });



	function getData() {
		$.ajax({
			url : '/user/dustflash/',
			data : {count:count},
			success:function(data){
				data = data.replace("[","")
				data = data.replace("]\n","")				
				var splist = data.split(',')
				var x = new Date(splist[0]*1)
				var p1 = Number(splist[1])
				var p2p5 = Number(splist[2])
				var p4 = Number(splist[3])
				var p10 = Number(splist[4])
				
				data1.push([x,p1,p2p5,p4,p10])
				g.updateOptions( {'file': data1} )
				}
			});
			
		}
		
	window.onload=function() {
		setInterval(function() {
			getData();
      		}, 5000);
		}

</script>


{% endblock %}

