{% extends "base.html" %}
{% block contents %}

<div class ="container">

  <br><br><br><br><br>
  
  <h2>File Upload/Download ({{model}})</h2>

  <br><br>



  <table class="w3-table">

    <thead>
      <tr class="w3-dark-grey">
        <th class="w3-center"><h3>Category</h3></th>
        <th class="w3-center"><h3>File Name</h3></th>
        <th class="w3-center"><h3>Attribute</h3></th>        
      </tr>
    </thead>

	<tr>
		<td style="vertical-align:middle">
			<h4>Download</h4>
		</td>
		<td>
			<ul>
			{% for file in filetimes %}
			  <li><a href="/user/download/{{file.0}}/"><h4>{{file.0}}</h4></a></li>
			{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
			{% for time in filetimes %}
			  <h4>{{time.1}}</h4>
			{% endfor %}
			</ul>
		</td>
	</tr>
	<tr>
		<td style="vertical-align:middle">
			<h4>Upload</h4>
		</td>
		<td>
    	  <form enctype="multipart/form-data" action="" method="post"> <!-- Do not forget to add: enctype="multipart/form-data" -->
	      {% csrf_token %}

     		<input type="file" class="form-control" name="docfile" required id="id_docfile">
     		
     	</td>	
		<td>
			<button type="submit" class="btn btn-secondary btn-block">UpLoad</button>
			</form>
		</td>
	</tr>

  </table>



</div>
{% endblock %}

