<!-- 네비게이션바 -->
<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="display:none" id="mySidebar">
<!--
  <button class="w3-bar-item w3-button w3-large"  onclick="w3_close()">Close &times;</button>
-->  
  <a href="{% url 'user:index' %}" class="w3-bar-item w3-button">Main</a>  
  {% if user.is_authenticated %}
	<div class="w3-dropdown-click">
		<button class="w3-button" onclick="myDropFunc()">
		  CONFIG &#9660<i class="fa fa-caret-down"></i>
		</button>
		<div id="demoDrop" class="w3-hide w3-white w3-card">
		  <a href="{% url 'user:devlist' %}" class="w3-bar-item w3-button">&nbsp;&nbsp;Ports</a>
		  <a href="{% url 'user:periodconfig' %}" class="w3-bar-item w3-button">&nbsp;&nbsp;Period</a>
		</div>
	</div>
	
	<a href="{% url 'user:inidownload' %}" class="w3-bar-item w3-button">File Up/Download</a>
	<a href="{% url 'user:restartdocker' %}" class="w3-bar-item w3-button">Restart Docker</a>  
	<a href="{% url 'user:reboot' %}" class="w3-bar-item w3-button">Reboot</a>  
	<a href="{% url 'user:logout' %}" class="w3-bar-item w3-button">Logout</a>
  {% endif %}
</div>


<div id="main" onclick="myCheck_main()">
<!-- Page Content -->

<nav class="navbar navbar-expand-lg ">
<div class="w3-teal">
  {% if user.is_authenticated %}
	<button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
	<div class="w3-container" style="display:none" id="myTitle">
		<h1>IOT-BOX</h1>
	</div>
  {% endif %}
</div>
</nav>

<script>
	function w3_open() {
	  document.getElementById("main").style.marginLeft = "25%";
	  document.getElementById("mySidebar").style.width = "25%";
	  document.getElementById("mySidebar").style.display = "block";
	  document.getElementById("openNav").style.display = 'none';
	  document.getElementById("myTitle").style.display = 'inline-block';
	  setTimeout(function(){a=1}, 100);
	}
	function w3_close() {
	  document.getElementById("main").style.marginLeft = "0%";
	  document.getElementById("mySidebar").style.display = "none";
	  document.getElementById("openNav").style.display = "inline-block";
	  document.getElementById("myTitle").style.display = 'none';  
	  a = 0;
	}
	function myAccFunc() {
	  var x = document.getElementById("demoAcc");
	  if (x.className.indexOf("w3-show") == -1) {
	    x.className += " w3-show";
	    x.previousElementSibling.className += " w3-green";
	  } else { 
	    x.className = x.className.replace(" w3-show", "");
	    x.previousElementSibling.className = 
	    x.previousElementSibling.className.replace(" w3-green", "");
	  }
	}

	function myDropFunc() {
	  var x = document.getElementById("demoDrop");
	  if (x.className.indexOf("w3-show") == -1) {
	    x.className += " w3-show";
	    x.previousElementSibling.className += " w3-green";
	  } else { 
	    x.className = x.className.replace(" w3-show", "");
	    x.previousElementSibling.className = 
	    x.previousElementSibling.className.replace(" w3-green", "");
	  }
	}
	
	function myCheck_main() {
		var x = a;

		if ( x == 1) {
			w3_close();
			}

		}

</script>
